@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

.logo-meraki {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='341' height='341' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23232375' stroke-width='1.3'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%231F189E'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #19123b;
  height: 64px;
  width: 64px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.sideborder {
  border-right: 3px solid rgba(78, 58, 167, 0.438);
}
.textbar {
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  color: azure;
}

.sair {
  position: absolute;
  bottom: -55vh;
  font-size: 18px;
}

.background {
  font-family: "Open Sans", sans-serif;
  background-color: #19123b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='341' height='341' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23232375' stroke-width='1.3'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%231F189E'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  overflow-x: hidden;
  height: 100vh;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #19123b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='341' height='341' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23232375' stroke-width='1.3'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%231F189E'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  overflow-x: hidden;
  height: 100vh;
}
.Card {
  border: none;
  border-top: 3px solid rgba(78, 58, 167, 0.438);
  background: #212042;
  color: #f0ffff;
  padding: 20px;
}
#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-weight: 700;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

label {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

.button-primary {
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  margin-top: 20px;
  text-transform: uppercase;
}

.responsive {
  width: 100%;
  height: auto;
}

.avatar {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/*******************************************/

.app-header {
  display: flex;
}

.app-header__logo {
  margin-left: auto;
}

.app-header__logo img {
  max-width: 120px;
}

.app-header__menu {
  font-size: 3em;
  color: azure;
}

.app-footer {
  margin-top: auto;
  text-align: center;
  font-size: 0.75em;
  padding: 20px 0;
}

/*******************************************/

.home-screen {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-screen > * {
  margin-bottom: 20px;
}

.home-screen__logo,
.home-screen__select-users {
  max-width: 250px;
}

.home-screen__select-users {
  width: 100%;
  padding: 10px;
}

/*******************************************/

.blogs-screen__list-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.blogs-screen__list-item:nth-of-type(odd) {
  background-color: #eee;
}

.blogs-screen__list-item:nth-of-type(even) {
  background-color: #fff;
}

.blogs-screen__list-item:hover {
  outline: 1px solid #000;
  background-color: #000;
  color: #fff;
}

.blogs-screen__list-item-photo img {
  max-width: 80px;
}

.blogs-screen__list-item-name {
  padding-left: 20px;
  font-weight: 700;
  font-size: 1.25em;
  flex: 1;
}

/*******************************************/

.user-blog-screen__header {
  text-align: center;
  margin: 40px 0;
}

.user-blog-screen__header-photo img {
  max-width: 130px;
  border: 5px solid #ccc;
}

.user-blog-screen__header-bio {
  font-size: 0.75em;
}

.user-blog-screen__posts-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.user-blog-screen__posts-item-title,
.user-blog-screen__posts-date {
  padding: 0 20px;
}

.user-blog-screen__posts-item-title {
  line-height: 1.2;
}

.user-blog-screen__posts-date {
  font-size: 0.75em;
}

/*******************************************/

.create-post-screen__form input,
.create-post-screen__form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.create-post-screen__form textarea {
  height: 200px;
}

/*******************************************/

.user-post-screen {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  margin-top: 40px;
}

.user-post-screen__post-title,
.user-post-screen__post-date,
.user-post-screen__post-content {
  padding: 0 20px;
}

.user-post-screen__post-title {
  line-height: 1.2;
}

.user-post-screen__post-date {
  font-size: 0.75em;
}

.user-post-screen__post-date img {
  max-width: 20px;
  display: inline;
  vertical-align: middle;
}

.user-post-screen__post-content {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  line-height: 1.5em;
  padding-top: 40px;
  padding-bottom: 40px;
}
